@page "/docs"

<PageTitle>資料 | 翠巒祭</PageTitle>

<h1>アプリケーションの使い方</h1>

こちらのページには、このアプリケーションの使い方を記載しています。

<h4>注意</h4>
<p>突然システムが使えなくなる可能性があります。</p>
<p>その際はお手数ですが、アナログな方法で対応する可能性があるので、お店の指示を優先してください。</p>

<h4>はじめに、買い物を行う場所を確認し、それに対応するページを開いてください。</h4>
<p>グッズ: 外?</p>
<p>模擬店: 校舎正面側(外)</p>
<p>食堂喫茶店: 2-1(校舎内2階)</p>

<h4>次に、注文したいものを選択します。</h4>
<p>左下の"削除"ボタンをクリックすると、すべての内容をリセットできます。</p>
<p>ページを変更すると選択内容がリセットされてしまうのでご注意ください。(改良予定です)</p>

<h4>注文する内容決めたら、QRコードを表示します。</h4>
<p>記載されている金額を用意し、お待ち下さい。</p>
<p>
  注文内容はQRコード読み込み時に決定します。
  読み込み前はいくらでも変更可能です。
</p>
<p>QRコードの表示には少し時間がかかるので、しばらくお待ち下さい。</p>

<h4>お店の人にQRコードを読み取ってもらいます。</h4>
<p>注文は、読み込み後に変更してもその変更は反映されないのでご注意ください。</p>
<p>お店の人が商品を準備するのをしばらくお待ち下さい。</p>

<br /><p>ありがとうございました!</p>
