@page "/docs"

<PageTitle>資料 | 翠巒祭</PageTitle>

<h1>アプリケーションの使い方</h1>

こちらのページには、このアプリケーションの使い方を紹介します。

<h4>注意</h4>
<p>突然システムが使えなくなる可能性があります。</p>
<p>その際はお手数ですが、アナログな方法で対応する可能性があるので、お店の指示を優先してください。</p>

<h4>右上の"三本線マーク"を押し、"会計"を選択してください。</h4>
<p>模擬店 (外: 校舎正面側) で利用可能です。</p>

<h4>次に、注文したいものを選択します。</h4>
<p>左下の"削除"ボタンをクリックすると、すべての内容をリセットできます。</p>
<p>ページを変更すると選択内容がリセットされてしまうのでご注意ください。(改良予定です)</p>

<h4>注文する内容決めたら、QRコードを表示します。</h4>
<p>記載されている金額を用意し、お待ち下さい。</p>
<p>
  注文内容はQRコード読み込み時に決定します。
  店が読み込みを行う前はいくらでも変更可能です。
</p>
<p>QRコードの表示には少し時間がかかるので、しばらくお待ち下さい。</p>

<h4>お店の人にQRコードを読み取ってもらいます。</h4>
<p>注文は、読み込み後に変更してもその変更は反映されないのでご注意ください。</p>
<p>お店の人が商品を準備するのをしばらくお待ち下さい。</p>

<br /><p>以上になります。会計へのご協力よろしくお願いします。</p>
