@page "/"
@inherits IndexBase

<PageTitle>翠巒祭</PageTitle>

<center id="center-area">
    <h2>@headerArea</h2>
    <div id="div-img"><img src="@imageArea" id="image-area" role="img" style="visibility: @visibility;" /></div>
    <p id="description-area">@((MarkupString)textArea)</p>
    <button @onclick="Previous"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M220-240v-480h80v480h-80Zm520 0L380-480l360-240v480Zm-80-240Zm0 90v-180l-136 90 136 90Z"/></svg></button>
    <button @onclick="Next"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M660-240v-480h80v480h-80Zm-440 0v-480l360 240-360 240Zm80-240Zm0 90 136-90-136-90v180Z"/></svg></button>
</center>

@* <SurveyPrompt Title="開発者向け情報" /> *@
