@page "/qr"

<PageTitle>QR</PageTitle>

<input type="text" @bind="qrContent" />
<button type="button" class="btn primary-secondary"  @onclick="GenerateQr">click!</button>

@if (!string.IsNullOrEmpty(QRCodeStr))
{
	<img width="300" height="300" src="@QRCodeStr" >
}
@code {
    string qrContent = "";
    string QRCodeStr = string.Empty;

    private void GenerateQr()
    {
        QRCodeStr = GenerateQRCode.GenerateQR(qrContent);
        // qrContent = string.Empty;
    }
}
