:root{
    color: rgb(81, 98, 155);

    /* 後でNoto Sans入れる */
    font-family: sans-serif;
}

body, main, main h1{margin: 0;}
main{background-color: rgba(188, 188, 255, 0.1);}
main h1{padding: 0.6em 5%;}

.item, .item p{
    color: #3c0a64;
    background-color: rgb(205, 255, 255);
    border-radius: 18px;
    box-shadow: 2px 4px rgba(0, 0, 90, .2);
    padding: 12px;
    margin: 12px 5%;

    display: flex;
    justify-content: space-between;
}

.img{
    /* margin: 0 10px 0 0; */
    width: 10vh;
    height: 10vh;
    background-color: rgb(255, 255, 255);
}

.text{
    width: calc(100% - 10vh - 2vh);
    padding: 0 0 0 2vh;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

.text div{
    width: 50%;
    padding: 0;
}

.footer{
    /*width: 100%;*/
    height: 20vh;
    margin: -10vh 0;
    /*padding: 0;*/
    background-color: rgba(90 255 192 / .4);
    backdrop-filter: blur(12px);
    border-radius: 46px 46px 0px 0px;

    position: sticky;
    top: 80vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    text-decoration: none;
    color: white;
    background-color: rgb(61, 39, 122);
    box-shadow: 2px 2px 4px rgba(0 128 128 / .4);
    border-radius: 10px;
    padding: 0 0.8em;
    font-size: 1.4em;
	cursor: pointer;
	user-select: none;
}

.top{
    display: flex;
    flex-direction: column;
}

.under-button{
    text-decoration: none;
    background-color: rgb(47, 243, 210, .4);
    padding: 4vh 6vw;
    margin: 2vh 4vw;
    border-radius: 32px;
    font-size: 4vh;
}
