:root{
    color: #3b8686;

    /* 後でNoto Sans入れる */
    font-family: sans-serif;
}

body, main, main h1{margin: 0;}
main h1{padding: 0.6em 5%;}

.item, .item p{
    color: #3b8686;
    background-color: #cff09e;
    border-radius: 18px;
    box-shadow: 2px 4px #a8dba8;
    padding: 12px;
    margin: 12px 5%;

    display: flex;
    justify-content: space-between;
}

.img{
    /* margin: 0 10px 0 0; */
    width: 10vh;
    height: 10vh;
    background-color: rgb(255, 255, 255);
}

.text{
    width: calc(100% - 10vh - 2vh);
    padding: 0 0 0 2vh;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

.text div{
    width: 50%;
    padding: 0;
}

.footer{
    /*width: 100%;*/
    height: 20vh;
    margin: -10vh 0;
    /*padding: 0;*/
    background-color: rgba(255 255 255 / .2);
    backdrop-filter: blur(10px);
    border-radius: 46px 46px 0px 0px;

    position: sticky;
    top: 80vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
	
	border: solid #79bd9a;
	border-width: 1px 1px 0 1px;
}

.button{
    text-decoration: none;
    color: white;
    background-color: #79bd9a;
    box-shadow: 2px 2px 4px #a8dba8;
    border-radius: 10px;
    padding: 0 0.8em;
    font-size: 1.4em;
	cursor: pointer;
	user-select: none;
}

.top{
    display: flex;
    flex-direction: column;
}

.under-button{
    text-decoration: none;
	color: #3b8686;
	background-color: rgba(255 255 255 / .2);
    padding: 4vh 6vw;
    margin: 2vh 4vw;
    border-radius: 32px;
    font-size: 4vh;
	cursor: pointer;
	user-select: none;
	border: solid #79bd9a;
	border-width: 1px;
}
