@page "/sell"
@inject HttpClient Http

<PageTitle>会計 | 翠巒祭</PageTitle>

<h1>会計</h1>

@if (item_data == null)
{
    <p><em>読み込み中…</em></p>
}
else
{
    <div class="footer">
        <a class="under-button">削除</a>
        <a class="under-button">決定</a>
    </div>

    @foreach (var item in item_data)
    {
	     <div class="item">
				<div class="img"></div>

				<div class="text">
					<div>@item.ItemName</div>
					<div>
						<a class="button">-</a> 0 <a class="button">+</a>
					</div>
					<div>@item.ItemPrice 円</div>
					<div>0 円</div>
				</div>
        </div>
    }
}

<div style="height: 20vh;"></div>

@code {
    private ItemData[]? item_data;

    protected override async Task OnInitializedAsync()
    {
        item_data = await Http.GetFromJsonAsync<ItemData[]>("sample-data/item.json");
    }

    public class ItemData
    {
        public string? ItemName { get; set; }
        public int ItemPrice { get; set; }
    }
}
